@import url("https://db.onlinewebfonts.com/c/c6a54e3881bf08530bc0719b35f67565?family=FoundryMonoline-Regular");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-container {
    @apply max-w-7xl  mx-auto;
  }
}
@layer utilities {
  .nft-container {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 px-2  xl:grid-cols-4 justify-items-center gap-[2rem] sm:px-[3.5rem] pt-[3.5rem] pb-[6rem];
  }
}
body {
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 108%;
  }
}
